// Reset
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	// border: 1px solid red;
}

// Color Variables
$main-color: #f1f1f1;
$background: white;
$text-clear: white;
$text-dark: rgb(26, 26, 26);
$highlight1: #64d2e3;
$highlight2: #134869;
$gradient-bg: linear-gradient(#db0077, #37001e);
$gradient-btn: linear-gradient(330deg, #134869 0%, #64d2e3 100%);
$element-radius: 0.4rem;

// Generic prefixer mixin
@mixin transform($property) {
	-webkit-transform: $property;
	-moz-transform: $property;
	-ms-transform: $property;
	-o-transform: $property;
	transform: $property;
}

// Font family definitions
%font-mono {
	font-family: "Roboto", monospace;
	font-weight: 400;
}
%font-sans {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
}

// General element properties
body {
	@extend %font-mono;
	overflow-x: hidden;
}
h1 {
	@extend %font-sans;
	font-size: 2.25rem;
	line-height: 3rem;
	margin: 4rem 0 1rem 0;
}
.strikethrough {
	text-decoration: line-through;
}
h2 {
	@extend %font-sans;
	font-size: 2.25rem;
	color: $text-dark;
	padding: 1rem 0 1rem 0;
}
h3 {
	@extend %font-sans;
	font-weight: 600;
	font-size: 1.5rem;
	text-align: center;
}
p {
	margin-bottom: 2rem;
}
a {
	text-decoration: none;
	color: white;
}
img {
	width: 100%;
}

.btn {
	background: $highlight1;
	text-decoration: none;
	text-transform: uppercase;
	color: $text-dark;
	text-align: center;
	font-weight: 500;
	display: inline-block;
	width: 100%;
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: $element-radius;
	cursor: pointer;
	transition: 0.35s !important;
	&:hover {
		background: $highlight2;
		color: $text-clear;
		transition: 0.35s !important;
	}
}

.episodios,
.integrantes {
	clip-path: polygon(0 calc(0% + 4rem), 100% 0%, 100% calc(100% - 4rem), 0 100%);
}
.cta {
	clip-path: polygon(0 calc(0% + 4rem), 100% 0%, 100% 100%, 0 100%);
}
.flex {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
}
// Specific element properties
nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	background: $background;
}

.logo {
	img {
		max-width: 2.25rem;
		border-radius: 2rem;
	}
	img:hover {
		animation: rotate360 0.5s;
	}
}
.nav-container {
	margin: auto;
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem 1rem;
}
#toggle,
.hamburger > i:last-of-type,
.menu-desktop {
	display: none;
}
#toggle:checked ~ .menu-items,
#toggle:checked ~ .hamburger > i:last-of-type {
	display: block;
}
#toggle:checked ~ .hamburger > i:first-of-type {
	display: none;
}

label {
	cursor: pointer;
	display: block;
}
.menu-items {
	display: none;
	position: absolute;
	width: 100vw;
	color: white;
	background-color: $highlight1;
	left: 0;
	margin-top: 1rem;
	padding: 1rem 0.5rem;
	li {
		text-transform: uppercase;
		padding: 0;
		margin: 0;
		list-style: none;
		transition: 0.35s;

		a {
			display: block;
			padding: 1rem;
		}
		&:hover {
			transition: 0.35s;

			a {
				border-radius: $element-radius;
				background-color: $highlight2;
				color: $text-clear;
				transition: 0.5s;
			}
		}
	}
}

.container {
	margin: 0 1rem;
}

.header2 {
	position: relative;
	img {
		z-index: -1;
		margin-bottom: -6rem;
		margin-top: 1rem;
	}
}

.episodios,
.cta,
.integrantes {
	h2,
	p,
	h3 {
		color: $text-clear;
		text-align: left;
	}
	background: $gradient-bg;
	margin: 2rem 0;
	padding: 6rem 0 8rem 0;
}
.iframe-container {
	width: 100%;
	iframe {
		height: 15rem;
		width: 100%;
		margin-bottom: 1.5rem;
		border: none;
	}
}
.donde {
	position: relative;
	img {
		margin-top: -8rem;
		z-index: 2;
	}
}
.invitadxs {
	.img-container {
		width: 100%;
	}
}

.slideshow-container {
	position: relative;
	margin: auto;
}

.mySlides {
	display: none;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 60%;
	width: auto;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
}

.next {
	right: 0%;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.active,
.dot:hover {
	background-color: #717171;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

.carousel-item {
	align-items: center;
}
.item-right img {
	display: block;
	position: relative;
	margin-bottom: -8rem;
	max-width: 400px;
}
.temas {
	width: 100%;
	h2 {
		align-self: flex-start;
	}
	img {
		max-width: 6.25rem;
		margin: 1rem 0 0.8rem 0;
	}
}
.tema {
	margin-bottom: 1rem;
	transition: 0.4s ease;
}

footer {
	background-color: $background;
	padding: 1rem;
	margin-top: -6rem;
	position: relative;
	z-index: 2;
	a {
		color: $text-dark;
		transition: 0.2s;
	}
	p a {
		font-weight: 700;
		transition: 0.2s;
	}
	a:hover {
		opacity: 0.7;
		transition: 0.2s;
	}
}
.rrss {
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
}
.cta h2,
footer p {
	text-align: center;
	margin-bottom: 2rem;
}
// Utility classes
.br {
	display: block;
}
.vibrate:hover {
	animation: vibration 0.3s 1;
}

// Animations
@keyframes vibration {
	0% {
		@include transform(rotate(15deg) scale(1.1));
		transition: ease-in-out;
	}
	33% {
		@include transform(rotate(-15deg) scale(1.1));
		transition: ease-in-out;
	}
	66% {
		@include transform(rotate(15deg) scale(1.1));
		transition: ease-in-out;
	}
	100% {
		@include transform(rotate(-15deg) scale(1.1));
		transition: ease-in-out;
	}
}

@keyframes rotate360 {
	0% {
		@include transform(rotate(0deg));
	}
	100% {
		@include transform(rotate(360deg));
	}
}

@-webkit-keyframes fade {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}

@media screen and (min-width: 600px) {
	h1 {
		font-size: 3rem;
		line-height: 4rem;
	}
	h2 {
		font-size: 2.75rem;
	}
	.header-container {
		position: relative;
		margin-top: 2rem;
		margin-bottom: -1rem;
		.header2 img {
			position: relative;
			bottom: -2rem;
			max-width: 700px;
		}
	}
	.btn {
		display: inline-block;
		width: auto;
		padding: 1rem 5rem;
	}
	.episodios {
		clip-path: polygon(0 calc(0% + 4rem), 100% 0%, 100% calc(100% - 4rem), 0 100%);
		padding: 5rem 0 10rem 0;
		h2 {
			margin-top: 2rem;
		}
		.iframe-container {
			margin-top: 2rem;
			flex-flow: row wrap;
			justify-content: space-between;
			iframe {
				max-width: 50%;
			}
			iframe:nth-child(odd) {
				padding-right: 0.75rem;
			}
			iframe:nth-child(even) {
				padding-left: 0.75rem;
			}
		}
	}
	.donde {
		flex-direction: row;
		justify-content: space-around;
		margin-bottom: 4rem;
		.donde-txt {
			flex: 1 1 40%;
		}
		img {
			padding: 0 5rem;
			margin: auto;
			margin-top: -10rem;
			max-width: 550px;
		}
		.donde-txt p {
			padding-right: 4rem;
		}
	}
	.invitadxs .img-container {
		margin: 1rem auto;
		flex-flow: row wrap;
		img {
			flex: 1 1 40%;
		}
	}
	.prev,
	.next {
		top: 70%;
	}

	.carousel-item {
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}
	.item-left {
		flex: 1 0 400px;
		padding-top: 2rem;
		align-self: flex-start;
	}
	.item-right {
		flex: 1 0 400px;
		img {
			max-width: 500px;
			margin: auto;
			margin-bottom: -8rem;
		}
	}
	.temas {
		margin: 0;
	}
	.temas .img-container {
		flex-direction: row;
		.tema {
			padding: 2rem;
			flex: 1 1 35%;
		}
	}
	.cta {
		clip-path: polygon(0 calc(0% + 10%), 100% 0%, 100% 100%, 0 100%);
		padding: 6rem 0 6rem 0;
		a i {
			margin-left: 0.5rem;
		}
	}

	footer {
		margin-top: -4rem;
		padding: 0;
		.container {
			justify-content: space-between;
		}
		.rrss {
			width: auto;
			max-width: 800px;
			a {
				margin-left: 2.25rem;
				padding: 1rem;
			}
			a:first-child {
				margin-left: 0;
			}
		}
		p {
			padding: 1rem;
			margin: 0;
		}
	}
}
@media screen and (min-width: 1200px) {
	#toggle,
	.hamburger {
		display: none;
	}
	#toggle:checked ~ .menu-items,
	.menu-items {
		display: flex;
		flex-flow: row wrap;
		position: relative;
		background-color: $background;
		width: auto;
		margin: 0.5rem 0;
		padding: 0rem;
	}
	.menu-items {
		li {
			a {
				color: $text-dark;
				padding: 1rem;
				margin-left: 1rem;
				display: inline-block;
				transition: 0.2s;
				border-radius: $element-radius;
			}
			a:hover {
				background-color: $highlight1;
				color: $text-clear;
				transition: 0.2s;
			}
		}
	}

	h1 {
		font-size: 4rem;
		line-height: 5rem;
	}
	h2 {
		font-size: 3rem;
	}
	.container,
	.nav-container {
		max-width: 1140px;
		margin: auto;
	}
	.nav-container {
		padding: 0;
	}
	.header-container {
		flex-direction: row;
		margin-top: 5rem;
		margin-bottom: -4rem;
		.header1,
		.header2 {
			max-width: 50%;
		}
	}
	.btn {
		padding: 1rem 3rem;
	}
	.episodios,
	.integrantes {
		clip-path: polygon(0 calc(0% + 6rem), 100% 0%, 100% calc(100% - 6rem), 0 100%);
		padding: 8rem 0 10rem 0;
	}
	.donde {
		.donde-img,
		.donde-txt {
			width: 50%;
		}
		img {
			padding: 0 2rem;
		}
		.donde-txt p {
			max-width: 80%;
		}
	}
	.invitadxs {
		max-width: 1600px;
		margin: 1rem auto;
		.img-container {
			img {
				max-width: 33.33%;
			}
		}
	}

	.carousel-item {
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
	}
	.item-left {
		max-width: 50%;
	}
	.item-right {
		img {
			margin-bottom: -8rem;
		}
	}
	.temas .img-container {
		justify-content: space-between;
		.tema {
			max-width: 25%;
			transition: 0.4s ease;
		}
		.tema:hover {
			@include transform(scale(1.2) translateY(-1rem));
			transition: 0.4s ease;
			cursor: pointer;
		}
	}
	.cta {
		clip-path: polygon(0 calc(0% + 6rem), 100% 0%, 100% 100%, 0 100%);
		padding: 10rem 0 6rem 0;
	}
	footer {
		.container {
			flex-flow: row wrap;
		}
	}
}
